<dialog id="settingsDialog" class="modal">
      <div class="modal-box p-2 rounded-md bg-base-300/80 backdrop-blur-sm">
        <h1 class="font-bold text-xl text-center">Configurações</h1>
        <div class="mt-4">
          <form method="dialog" class="flex flex-col gap-4">
            <label class="input input-bordered flex items-center gap-2 rounded-md">
              Nome:
              <input id="name" type="text" class="grow" autocomplete="given-name" placeholder="Nome" />
            </label>
            <label class="input input-bordered flex items-center gap-2 rounded-md">
              Cidade:
              <input id="city" type="text" class="grow" autocomplete='off' placeholder="Cidade" />
            </label>
            <label class="input input-bordered flex items-center gap-2 rounded-md">
              Foto:
              <input
                id="profUrl"
                type="text"
                class="grow"
                autocomplete='photo'
                placeholder="Foto de perfil"
              />
            </label>
            <label class="input input-bordered flex items-center gap-2 rounded-md">
              Fundo:
              <input
                id="bgUrl"
                type="text"
                class="grow"
                autocomplete='url'
                placeholder="Imagem de fundo"
              />
            </label>
            <div class="form-control">
              <label class="label cursor-pointer">
                <span class="label-text">Formato 12 Horas</span>
                <input id="twoelveHours" type="checkbox" class="checkbox" />
              </label>
            </div>
            <label for='feeling' class="text-center">Como você se sente hoje?</label>
            <select id='feeling' class="select select-sm w-full rounded-md">
              <option value='happy'>Feliz</option>
              <option value='neutral' selected>Neutro(a)</option>
              <option value='sad'>Triste</option>
            </select>
            <button class="btn btn-sm btn-success rounded-md" onclick="saveConfigs()">
              Salvar
            </button>
            <button class="btn btn-sm btn-error rounded-md" onclick="resetConfigs()">
              Redefinir para padrão
            </button>
          </form>
        </div>
      </div>
    </dialog>